*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url(../img/heroimage.png);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.container{
    min-width: 300px;
    /* margin: auto; */
    padding: 0 50px;
}

.nav-bar{
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #000;
}

/* below hero */
#get{
    color: #fff;
    font-size: 30px;
    margin-top: 20%;
    margin-bottom: 4px;
    font-weight: 100;
}

.col-1{
    z-index: 500;
    position: absolute;
}

.col-1 h1{
    font-size: 64px;
    line-height: 75px ;
    width: 65%;
    margin-top: 8px 0;
    font-weight: 700;
    color: #fff;
}

.btn{
    display: inline-block;
    background: #FB941B;
    margin: 30px 0;
    padding: 12px 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.row-1{
    display: flex;
}

.border{
    color: #FB941B;
    opacity: 50%;
    padding: 100px;
    border: 15px solid #FB941B;
    width: 380px;
    height: 295px;
    position: absolute;
    left: 280px;
    top: 220px;
    margin-bottom: 40px;
}

/* reality-section */

.reality-section{
    margin: 50px 0 100px 0;
}

.small-container{
    min-width: 400px;
    margin: 0 20px;
    padding: 0 50px;
}

.row{
    display: flex;
}

.btn-1{
    display: inline-block;
    margin: 30px 0;
    border: 1px solid #000;
    outline: none;
    padding: 12px 30px;
    border-radius: 20px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.btn-1:hover{
    background: #FB941B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
}

.col-2{
    flex-basis:  35%;
    position: relative;
    /* margin: 0 auto; */
}

/* .col-2 img{
    width: 100%;
} */

.well{
    font-size: 24px;
    color: #000;
    font-weight: 100;
}

.real{
    margin-top: 85px;
}

.btn-2{
    display: inline-block;
    margin: 30px 0;
    border: 1px solid #fff;
    outline: none;
    padding: 12px 30px;
    border-radius: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.col-2 h2{
    font-size: 32px;
    line-height: 48px;
    margin-top: 4px;
    margin-bottom: 48px;
    /* position: relative; */
    /* width: 80%; */
}

.into::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    top: 130px;
    left: 0.5%;
    transform: translateY(20%);
}

.col-2 h6{
    width: 80%;
    text-align: justify;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.button{
    text-align: center;
}

.btn-2:hover{
    background: #FB941B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
}


.col-2-image{
    position: absolute;
    left: 45%;
}

.col-2 img{
    width: 100%;
}

/* projects */

.projects{
    background: #000;
    margin-top: 80px;
    position: relative;
}

.small-container-1{
    max-width: 1400px;
    margin: auto;
    padding: 0 50px;
    min-height: 130vh;
}

#our{
    color: #FB941B;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 4px;
}

.col-4{
    /* flex-basis: 100%; */
    padding: 40px;
    min-width: 200px;
    margin-bottom: 10px;
    /* margin-right: 10px;  */
}

.col-4 img{
    width: 100%;
    min-width: 200px;
}

.best{
    color: #fff;
    text-align: center;
    /* justify-content: center; */
    padding: 10px 0 10px 0;
    font-size: 32px;
    line-height: 48px;
    font-weight: 800;
}

.best::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    /* bottom: 130px; */
    top: 180px;
    left: 45%;
    transform: translateY(50%);
}


.small-container-2{
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
    min-height: 80vh;
}

/* .specialization */
#spec{
    padding-top: 80px;
    padding-bottom: 4px;
    color: #000;
}

.specialization{
    position: relative;
    min-height: 90vh;
}

.are{
    font-size: 32px;
    line-height: 48px;
    padding: 10px 0 10px 0;
}

.are::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    /* bottom: 130px; */
    top: 170px;
    left: 45%;
    transform: translateY(50%);
}

.specialization .col-5{
    text-align: center;
}

.door{
    margin: 45px auto;
    padding: 32px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 240px;
    justify-content: center;
    cursor: pointer;
}

/* .door:hover{
    color: #fff;
    background: #FB941B;
} */

.door h4{
    padding-top: 12px;
    padding-bottom: 20px;
    color: #FB941B;
    font-size: 24px;
    font-weight: 700;
}

.door p{
    font-size: 16px;
    color: #000;
}

/* explore */
.explore{
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.fa{
    color: #FFD706;
    margin-top: 16px;
    margin-bottom: 8px;
}

.btn-3{
    display: inline-block;
    margin: 30px 0;
    border: 1px solid #000;
    outline: none;
    padding: 12px 30px;
    border-radius: 20px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.btn-3:hover{
    background: #FB941B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
}

.small-container-3{
    min-width: 500px;
    /* margin: auto; */
    padding: 0 50px;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-picture{
    display: flex;
    flex-direction: column;
}

.first, .second{
    display: flex;
    flex-direction: row;
}

.row-picture img{
    width: 92%;
}

.first{
    margin: 50px 0px 40px 50px;
}

.second{
    margin: 0 0 50px 50px;
}

.text{
    width: 92%;
    background: #fff;
    padding: 10px;
}

.text h2{
    font-size: 16px;
    color: #000;
    font-weight: 800;
}

.total{
    background: #fff;
}

#explore{
color: #000;
font-size: 16px;

}

#your{
margin-bottom: 40px;
margin-top: 16px;
font-weight: 800;
font-size: 32px;
line-height: 48px;
}

#your::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    bottom: 380px;
    left: 3.5%;
    transform: translateY(10%);
}