*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-image: url(../img/heroimage.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container{
    width: 100vw;
    /* margin: auto; */
    padding: 0 50px;
}

.nav-bar{
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #000;
}

/* below hero */
#get{
    color: #fff;
    font-size: 30px;
    margin-top: 15%;
    margin-bottom: 4px;
    font-weight: 100;
    line-height: 50px;
}

.col-1{
    z-index: 500;
    position: absolute;
}

.col-1 h1{
    font-size: 64px;
    line-height: 84.16px ;
    width: 65%;
    margin-top: 8px 0;
    font-weight: 700;
    color: #fff;
}

.btn{
    display: inline-block;
    background: #FB941B;
    margin: 30px 0;
    padding: 12px 24px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.border{
    color: #FB941B;
    opacity: 50%;
    padding: 100px;
    border: 15px solid #FB941B;
    width: 380px;
    height: 295px;
    position: absolute;
    left: 280px;
    top: 220px;
    margin-bottom: 40px;
}

/* reality-section */

.reality-section{
    margin: 50px 0 100px 0;
}

.small-container{
    width: 100vw;
    margin: 0 20px;
    padding: 0 50px;
}

.row{
    display: flex;
}

.btn-1{
    display: inline-block;
    margin: 30px 0;
    border: 1px solid #000;
    outline: none;
    padding: 12px 30px;
    border-radius: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.btn-1:hover{
    background: #FB941B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
}

.col-2{
    flex-basis:  35%;
    position: relative;
    /* margin: 0 auto; */
}

/* .col-2 img{
    width: 100%;
} */

.well{
    font-size: 24px;
    color: #000;
    font-weight: 400;
    line-height: 33px;
}

.real{
    margin-top: 85px;
}

.btn-2{
    display: inline-block;
    margin: 30px 0;
    border: 1px solid #fff;
    outline: none;
    padding: 12px 24px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.col-2 h2{
    font-size: 40px;
    line-height: 60px;
    margin-top: 4px;
    margin-bottom: 48px;
    /* position: relative; */
    /* width: 80%; */
}

.into::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    top: 160px;
    left: 0.5%;
    transform: translateY(20%);
}

.col-2 h6{
    width: 90%;
    text-align: justify;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.button{
    text-align: center;
}

.btn-2:hover{
    background: #FB941B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
}


.col-2-image{
    position: absolute;
    left: 45%;
}

.col-2 img{
    width: 100%;
}

/* projects */


.row-1{
    display: flex;
}

.projects{
    background: #000;
    margin-top: 80px;
    position: relative;
}

.small-container-1{
    width: 100vw;
    margin: auto;
    padding: 0 50px;
    min-height: 130vh;
}

#our{
    color: #FB941B;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 4px;
    line-height: 32px;
    font-size: 24px;
}

.col-4{
    /* flex-basis: 100%; */
    padding: 40px;
    width: 100vw;
    margin-bottom: 10px;
    /* margin-right: 10px;  */
}

.col-4 img{
    width: 100%;
    min-width: 200px;
}

.best{
    color: #fff;
    text-align: center;
    /* justify-content: center; */
    padding: 10px 0 50px 0;
    font-size: 44px;
    line-height: 60px;
    font-weight: 800;
}

.best::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    /* bottom: 130px; */
    top: 220px;
    left: 45%;
    transform: translateY(50%);
}


.small-container-2{
    width: 100vw;
    margin: auto;
    padding: 0 50px;
    height: 100vh;
}

/* .specialization */
#spec{
    padding-top: 80px;
    padding-bottom: 4px;
    color: #000;
    line-height: 33px;
    font-size: 24px;
}

.specialization{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.are{
    font-size: 40px;
    line-height: 54px;
    padding: 10px 0 10px 0;
}

.are::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    /* bottom: 130px; */
    top: 195px;
    left: 45%;
    transform: translateY(50%);
}

.specialization .col-5{
    text-align: center;
}

.door{
    margin: 45px auto;
    padding: 32px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 300px;
    justify-content: center;
    cursor: pointer;
}

.door h4{
    padding-top: 12px;
    padding-bottom: 20px;
    color: #FB941B;
    font-size: 24px;
    font-weight: 500;
}

.door p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000;
    font-weight: 400px;
}

/* explore */
.explore{
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.fa{
    color: #FFD706;
    margin-top: 16px;
    margin-bottom: 8px;
}

.btn-3{
    display: inline-block;
    margin: 30px 0;
    border: 1px solid #000;
    outline: none;
    padding: 12px 24px;
    border-radius: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.btn-3:hover{
    background: #FB941B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
}

.small-container-3{
    width: 100vw;
    /* margin: auto; */
    padding: 0 50px;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-picture{
    display: flex;
    flex-direction: column;
}

.first, .second{
    display: flex;
    flex-direction: row;
}

.row-picture img{
    width: 85%;
}

.first{
    margin: 50px 0px 40px 50px;
}

.second{
    margin: 0 0 50px 50px;
}

.text{
    width: 85%;
    background: #fff;
    padding: 15px;
}

.text h2{
    font-size: 16px;
    color: #000;
    font-weight: 800;
}

.total{
    background: #fff;
}

#explore{
color: #000;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;

}

#your{
margin-bottom: 40px;
margin-top: 16px;
font-weight: 800;
font-size: 33px;
line-height: 46px;
}

#your::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    top: 440px;
    left: 3.5%;
    transform: translateY(10%);
}

/* team */
.small-container-4{
    width: 100vw;
    /* margin: auto; */
    padding: 0 50px;
    height: 100vh;
}

#meet{
    color: #000;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
}

.world{
    color: #000;
    text-align: center;
    /* justify-content: center; */
    padding: 10px 0 10px 0;
    font-size: 40px;
    line-height: 54px;
    font-weight: 800;
}

.team{
    position: relative;
    background: #fff;
    margin-bottom: 180px;
}

.world::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    /* bottom: 130px; */
    top: 220px;
    left: 45%;
    transform: translateY(50%);
}

.col-img img{
    width: 90%;
    margin-left: 40px;
}

.col-img{
    margin-top: 50px;
}

.content{
    margin-left: 40px;
    margin-top: 10px;
}

.tag{
    color: #FB941B;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.name{
    margin-bottom: 8px;
    font-weight: 700px;
    font-size: 27px;
    line-height: 37px;
}

/* touch */

.touch{
    padding: 0 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/heroimage.png);
    margin-top: 70px;
    position: relative;
}

.row-2{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.row-2 input{
    width: 350px;
    margin: 4px 0;
    padding: 12px;
    border: none;
    color: #C4C4C4;
    font-size: 12px;
    letter-spacing: 0.5px;
    outline: none;
}

.row-2 input:hover{
    border: 1px solid #FB941B;
    color: #FB941B;
    cursor: pointer;
}

.row-2 textarea{
    margin: 8px 0;
    outline: none;
    border: none;
    padding: 8px;
    color: #C4C4C4;
    letter-spacing: 0.5px;
    font-size: 12px;
    width: 100%;
}

.row-2 textarea:hover{
    border: 1px solid #FB941B;
    color: #FB941B;
    cursor: pointer;
}

.send{
    text-align: right;
}

.in-touch{
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
}

.in-touch::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    top: 110px;
    left: 8%;
    /* transform: translateY(10%); */
}

.border-1{
    color: #FB941B;
    padding: 100px;
    border: 15px solid #FB941B;
    width: 380px;
    height: 340px;
    position: absolute;
    left: 54%;
    top: 60px;
    margin-bottom: 40px;
}

.number{
    margin: 70px 0 0px 200px;
    width: 45%;
    color: #fff;
}

.number p{
    padding-bottom: 50px;
}


/* copyright */
.copyright{
    padding: 0 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.copyright ul{
    display: inline-block;
    list-style-type: none;
}

.copyright li{
    display: inline-block;
    list-style-type: none;
    margin-right: 12px;
    font-size: 16px;
    color: #000;
    line-height: 28px;
}

.social{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 15px;
}

.links h3{
    color: #FB941B;
    font-size: 20px;
    font-weight: 700;
}

.right{
    text-align: center;
    color: #FB941B;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* media query */

@media screen and (max-width:429px){

    .header{
        background-image: url(../img/heroimage.png);
        /* background-image: linear-gradient(rgba(233, 201, 186, 0.8),rgba(233, 201, 186, 0.8)), url(../img/heroimage.png); */
        background-size: cover;
        width: 100vw;
    }
    /* hero-text */

    #get{
        color: #fff;
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: none;
        font-weight: 100;
        text-align: center;
    }
    
    .col-1 h1{
        font-size: 31px;
        line-height: 44px ;
        width: 100%;
        margin-top: 2px 0;
        font-weight: 800;
        color: #fff;
        text-align: center;
    }

    .border{
       display: none;
    }

    .nav-bar{
        display: flex;
        align-items: center;
    }
    
    nav, nav li{
      display: none;
    }
    
    nav ul li, a{
       display: none;
    }

    .btn{
        display: inline-block;
        background: #FB941B;
        margin: 20px 0;
        padding: 8px 16px;
        border-radius: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    }

    .mobile{
        
        text-align: center;
    }
    
    /* reality */

    .col-2{
        flex-basis: none;
        position: none;
    }

    .into::after{
        top: 110px;
        left: 0.5%;
    }
    

    .reality-section{
        margin: 20px 0 25px 0;
    }
    
    .small-container{
        width: 100vw;
        padding: 0 50px;
    }
    
    .row{
        display: inline-block;
    }
    
    .btn-1{
        display: inline-block;
        border: 1 px solid #000;
        margin: 20px 0;
        padding: 8px 16px;
        border-radius: 0px;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
    
    .col-2{
        flex-basis:  100%;
        position: relative;
        /* margin: 0 auto; */
    }
    
    
    .well{
        font-size: 16px;
        line-height: 32px;
    }
    
    .real{
        margin-top: 45px;
    }
    
    .btn-2{
        display: inline-block;
        margin: 30px 0;
        border: 1px solid #fff;
        outline: none;
        padding: 8px 16px;
        border-radius: 0px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
    
    .col-2 h2{
        font-size: 26px;
        line-height: 35px;
        margin-top: 4px;
        margin-bottom: 24px;
    }
    
    .col-2 h6{
        width: 100%;
        text-align: justify;
        font-weight: 100;
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 16px;
    }
    
    .button{
        text-align: center;
    }
    
    .btn-2:hover{
        background: #FB941B;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
        border: none;
        color: #fff;
    }
    
    
    .col-2-image{
        position: unset;
        /* left: 45%; */
    }
    
    #remove{
        display: none;
    }
    
    body > div.reality-section > div > div > div.col-2-image > img:nth-child(1){
        width: 100%;
    }
    
   /* projects */

   .projects{
    margin-top: 40px;
}


#our{
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 24px;
}

.row-1{
    flex-direction: column;
}
.col-4{
    padding: 10px;
}

.col-4 img{
    width: 80%;
}

.best{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.best::after{
    width: 140px;
    top: 130px;
    left: 35%;
}

/* .specialization */
#spec{
    padding-top: 40px;
    font-size: 14px;
    line-height: 24px;
}

.specialization{
    height: 100vh;
}


.are{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
}

.are::after{
    top: 120px;
    left: 32%;
}

.specialization .col-5{
    text-align: center;
}

.door{
    margin: 45px auto;
    padding: 32px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 320px;
    justify-content: center;
    cursor: pointer;
}

.door h4{
    padding-top: 12px;
    padding-bottom: 20px;
    color: #FB941B;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.door p{
    font-size: 16px;
    color: #000;
}

/* explore */

.first :nth-child(3){
    display: none;
}

.none{
    display: none;
}

.second{
    display: none;
}

.btn-3{
    display: inline-block;
    margin: 30px 0;
    border: 1px solid #000;
    outline: none;
    padding: 8px 16px;
    border-radius: 0px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.small-container-3{
    flex-wrap: wrap;
}

#explore{
    margin-top: 40px;
}
.first{
    flex-direction: row-reverse;
    flex-wrap: wrap;

    padding: 30px;
}

#your{
    margin-bottom: 20px;
    margin-top: 16px;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    width: 80%;
    }
    
#your::after{
    content: '';
    background: #FB941B;
    border-radius: 5px;
    position: absolute;
    width: 140px;
    height: 2px;
    top: 170px;
    left: 12%;
    }
    

/* team */
.small-container-4{
    min-width: 400px;
}

#meet{
    font-size: 16px;
    line-height: 24px;
}

.world{
    font-size: 24px;
    line-height: 32px;
}


.world::after{
    top: 170px;
    left: 33%;
}

.col-img img{
    width: 100%;
    margin-left: 0px;
}

.col-img{
    margin-top: 50px;
}

.content{
    margin-left: 0px;
    margin-top: 10px;
}

/* touch */
.touch{
    min-height: 80vh;
}
.row-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

.row-2 input{
    width: 250px;
    margin: 4px 0;
}

.row-2 textarea{
    margin: 4px 0;
    width: 250px;
}

.send{
    text-align: left;
}

.in-touch{
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}

.in-touch::after{
    width: 140px;
    height: 2px;
    top: 70px;
    left: 12%;
}

.border-1{
    width: 200px;
    height: 200px;
    left: 20%;
    top: 65%;
    margin-bottom: 0px;
}

.number{
    margin: 25px 0 0px 65px;
    width: 45%;
}

.number p{
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
}

.none{
    display: none;
}

.social{
    justify-content: center;
}
}